{
  //aim1 configuration file
  exacldAcctNme: "burkhajo",
  dockerAcctNme: "burkhajo",
  contactEmail: "burkhajo@ohsu.edu",
  ubuntuPkgs: [
    "python3-pip",
    "sl"
  ],
  pip3Pkgs: [
    "numpy",
    "scipy",
    "pandas",
    "matplotlib"
  ],
  p3scriptPath: "/home/burkhart/miniconda3/lib/python3.7/site-packages/cmapPy/pandasGEXpress/gct2gctx.py",
  p3scrigsArgs: [
    "-verbose",
    "-file_name /path/to/file"
  ],
  dockerRelPath: "../src/lib/aim1_genewise/dockerfiles/dockerfile_gct2gctx",
  dockerImgNme: "gct2gctx",
  lusImagePath: "/home/users/burkhajo/WuLab/WuLabLustreDir/reticula/bin/",
  lusRelDatPath: "~/WuLab/WuLabLustreDir/reticula/data/input/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct.bz2",
  lusRelImgPath: "~/WuLab/WuLabLustreDir/reticula/bin/savedGct2gctx.tar.gz",
  //TODO: can this always be generated
  lusRelOutPath: "~/WuLab/WuLabLustreDir/reticula/data/input/",
  sbatchOptions: [
    "--ntasks=1",
    "--cpus-per-task=24"
  ]
}